* {
  box-sizing: border-box;
}

/* common styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Pretendard', 'Segoe UI', sans-serif;
  /* background: #f8fafc; */
  color: #191f28;
  background: linear-gradient(180deg, #fff 0%, #f6f8fb 10%, #f1f4f8 100%);
}

/* html only styles */
html {
  min-height: 100vh;
  height: 100vh;
}

/* body only styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.kiosk-shell {
  position: relative;
  width: min(30vw, 520px);
  aspect-ratio: 776 / 1436; /* kiosk-shell image ratio */

  background-image: url('./assets/images/kiosk-shell.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 2;
}

.kiosk-screen {
  position: absolute;

  top: 8%;
  left: 13.8%;
  width: 71.7%;
  height: 69.7%;

  padding: 20px;
  padding-top: 40px;
  background-color: white;
  border: 1px black solid;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  /* area testing color */
  /* background-color: red; */
}

/* just for kidding, ad comments */
.hero-layout {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 6vw;
  padding-right: 8vw;
}

.hero-copy {
  flex: 1;

  font-size: clamp(80px, 5vw, 120px);
  font-weight: 900;
  font-style: italic;

  line-height: 1.05;
  letter-spacing: -0.06em;
  overflow: hidden;
  /* transform: translateX(vw); */
}

.brand-copy-line span {
  color: rgba(25, 31, 40, 0.94);
}

.brand-footer-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.brand-footer-line span {
  margin-left: 1vw;
  color: rgba(25, 31, 40, 0.94);
  letter-spacing: 0em;
  font-size: clamp(40px, 1vw, 60px);
}

.brand-copy-line span.brand-blue {
  color: #3182f6;
  text-shadow: 0 0 24px rgba(34, 114, 235, 0.12);
}

.hero-kiosk {
  width: min(34vw, 520px);

  display: flex;
  justify-content: center;
}
